<div class = "chat_message">
	<div class = "chat_message_nick">
		<div class = "chat_message_nick_contents">
			<span class="nick"><%= chat_message.user.nick %></span>
			<span class="nickdot">#: </span>
		</div>
	</div>
	<div class = "chat_message_message">
		<div class = "chat_message_message_contents">
			<%= chat_message.message %>
		</div>
	</div>
	<div class="clear"></div>
</div>
