// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

p.pickup
{
  background-color:#aca;
  padding:5px;
  border-radius:5px;
  display:inline-block;
  font-weight:bold;
  color:#666;
  border:1px solid #666;
}

p.pickup a
{
  text-decoration:none;
  color:inherit;
}
