// Place all the styles related to the Projects controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

div.project_name
{
  width:80px;
}

div.project_version
{
  width:80px;
  text-align:center;
}
